.shy-blur,
.shy-blur > * {
  filter: blur(var(--shy-blur-intensity, 8px)) !important;
  transition: filter 0.2s ease !important;
}

.shy-blur:hover,
.shy-blur:hover > * {
  filter: blur(0) !important;
}

.shy-blur,
.shy-blur * {
  user-select: none !important;
  pointer-events: auto !important;
}